/*------------------------------\
    Components - Buttons 
\------------------------------*/
/**
* This is the standard button
*/
.btn {
  background-color: $btn-bg-color;
  border: none;
  border-radius: 5px;
  color: $dark-txt-clr;
  display: block;
  margin: auto;
  padding: 11px;
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}
