/*------------------------------\
    Layouts - Background 
\------------------------------*/
/** 
* In the mobile view the calculator component 
* sits on top of a background element the logo
* is centered in the background element.
*/
.tip-calculator {
  background-color: $main-bg-clr;
  height: 100vh;

  &__header {
    letter-spacing: rem(12);
    line-height: rem(40);
    margin-bottom: rem(40.66);
    margin-top: rem(50);

    @include media-lg {
      margin-top: rem(163);
      margin-bottom: rem(87.86);
    }
  }
}
