/*------------------------------\
    Layouts - Main Component 
\------------------------------*/
/** 
* In mobile view the main component is an app that 
* fills the full view width and is aligned at the 
* bottom of the screen. For larger displays the 
* component is centered in the display. 
*/
.tip-calculator__main-component {
  background: $component-bg-clr 0% 0% no-repeat padding-box;
  background-color: $component-bg-clr;
  border-radius: 25px 25px 0px 0px;
  bottom: 0;
  box-shadow: 0px 32px 43px hsla(186, 38%, 50%, 0.2);
  color: $dark-txt-clr;
  max-width: rem(500);
  padding: rem(32);
  position: relative;

  @include media-md {
    border-radius: 25px;
    margin: auto;
  }

  @include media-lg {
    max-width: rem(920);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'bill results' 'tip results' 'number results';
    column-gap: rem(48);
    padding-left: rem(48);

    .bill {
      grid-area: bill;
    }
    .tip {
      grid-area: tip;
    }

    .number-of-people {
      grid-area: number;
    }

    .results {
      grid-area: results;
    }
  }
}
.bill,
.tip,
.number-of-people {
  margin-bottom: rem(32);
}
