// ---- Color Pallette         ----
$grey-light-blue: hsla(185, 41%, 84%, 1);
$dark-green: hsla(183, 100%, 15%, 1);
// ---- Background Colors      ----
$main-bg-clr: $grey-light-blue;
$component-bg-clr: white;
$dark-bg-clr: $dark-green;
// ---- Text Colors            ----
$dark-txt-clr: $dark-green;